/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

   html,
   body,
   div,
   span,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   abbr,
   address,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   samp,
   small,
   strong,
   sub,
   sup,
   var,
   b,
   i,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section,
   summary,
   time,
   mark,
   audio,
   video {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
   }
   body {
     line-height: 1;
   }
   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
     display: block;
   }
   nav ul {
     list-style: none;
   }
   blockquote,
   q {
     quotes: none;
   }
   blockquote:before,
   blockquote:after,
   q:before,
   q:after {
     content: none;
   }
   a {
     margin: 0;
     padding: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
     text-decoration: none;
   }
   mark {
     background-color: #ff9;
     color: #000;
     font-style: italic;
     font-weight: bold;
   }
   del {
     text-decoration: line-through;
   }
   abbr[title],
   dfn[title] {
     border-bottom: 1px dotted;
     cursor: help;
   }
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }
   hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 1px solid #ccc;
     margin: 1em 0;
     padding: 0;
   }
   input,
   select {
     vertical-align: middle;
   }
   li {
     list-style: none;
   }
   
   /* =============================================================================
            My CSS
            ========================================================================== */
   
   /* ---- base ---- */
   
   html,
   body {
     width: 100%;
     height: 100%;
     background-image: url("y-so-serious.png");
   }
   
   html {
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   body {
     font: normal 75% Arial, Helvetica, sans-serif;
   }
   
   canvas {
     vertical-align: bottom;
   }
   
   /* OUR CSS */
   
   nav {
     visibility: hidden;
     position: absolute;
   }
   form input{
     transition: ease-in-out , 0.3s;
     border-bottom: 2px solid black;
   }
   .collapse {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 0vh;
    width: 100vw;
    background-color: #111111;
    position: fixed;
    z-index: 5;
    transition: ease-in-out, 0.2s;
  }
  .toggle{
    position: fixed;
  }
  .collapse.is-clicked {
    height: 100vh;
    overflow-y: scroll; 
    padding-bottom: 40%;
  }

  .collapse a {
    font-family: "Overpass", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
  }

  .collapse ul {
    transform: translateY(-20px);
    opacity: 0;
    transition: ease-in-out, 0.2s;
    margin-top: 25%;
    width: 100vw;
    text-align: center;
  }
  .collapse ul.is-clicked {
    transform: translateY(0px);
    opacity: 1;
  }
  .collapse li {
    margin-top: 8%;
  }
  p {
    text-align: center;
  } 

   /* Contact us box */
   form input:focus{
     outline: none;
     border-bottom: 2px solid white;
   }
  
   .form{
    margin-left: 22%;
   }

   h1{
    font-family: "Krona One", sans-serif;
     color: white;
     font-size: 4vh;
     text-align: center;
     padding: 20% 0% 6%;

   }
   
    h3{
      color: white ;
      margin: 3% 0%;
      font-size: 3.7vh;
      font-family: 'Overpass' , sans-serif;
    font-weight: lighter;
    }
    input{
      margin: 4% 3%;
      padding: 3%;
      background-color: #242424;
      border: none;
    }

    textarea{
      background-color: #242424;
      border: none;
      outline: none;
      border-bottom: 2px solid black;
      
      
    }
    form textarea:focus{
      outline: none;
      border-bottom: 2px solid white;
      transform: translateY(-4px);

    }
    .button{
      padding: 3% 15%;
      text-align: center;
    }
    .button:hover{
      background-color: white;
      color: black;
      cursor: pointer;
    }
    
    textarea{
      resize: none;
    }
    .button{
      background: none;
      color: white;
      border: solid white 2px;
      border-radius: 0%;
    }
 
   /* MEDIA FOR MOBILE ONLY */
   @media (max-width: 500px) {
     /* FOR HAMBURGER */
     .toggle {
       position: absolute;
       cursor: pointer;
       z-index: 7;
       margin: 8% 5%;
     }
     .toggle input {
       display: none;
     }
     .toggle input + div {
       width: 30px;
       height: 18px;
       position: relative;
     }
     .toggle input + div div {
       position: absolute;
       left: 0;
       top: 0;
       right: 0;
       bottom: 0;
       transition: transform 0.5s ease;
     }
     .toggle input + div div span {
       display: block;
       position: absolute;
       left: 0;
       right: 0;
     }
     .toggle input + div div span:first-child {
       top: 0;
     }
     .toggle input + div div span:first-child:before,
     .toggle input + div div span:first-child:after {
       top: 0;
     }
     .toggle input + div div span:last-child {
       bottom: 0;
     }
     .toggle input + div div span:last-child:before,
     .toggle input + div div span:last-child:after {
       bottom: 0;
     }
     .toggle input + div div span:before,
     .toggle input + div div span:after {
       content: "";
       display: block;
       width: 47%;
       height: 2px;
       border-radius: 1px;
       background: #fff;
       position: absolute;
       -webkit-backface-visibility: hidden;
       transition: transform 0.5s ease, border-radius 0.3s ease,
         background 0.4s ease;
     }
     .toggle input + div div span:before {
       left: 0;
       transform-origin: 0 50%;
       transform: translate(1px, 0) scaleX(1.1);
     }
     .toggle input + div div span:after {
       right: 0;
       transform-origin: 100% 50%;
       transform: translate(-1px, 0) scaleX(1.1);
     }
     .toggle input + div svg {
       display: block;
       fill: none;
       stroke: #fff;
       stroke-width: 2px;
       width: 44px;
       height: 44px;
       stroke-linecap: round;
       position: absolute;
       left: 50%;
       top: 50%;
       margin: -22px 0 0 -22px;
       stroke-dasharray: 0 82.801 8 82.801;
       stroke-dashoffset: 82.801;
       transform-origin: 50% 50%;
       -webkit-backface-visibility: hidden;
       transform: scale(1);
       transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
         transform 0.5s ease, stroke 0.4s ease;
     }
     .toggle input + div svg:nth-child(3) {
       transform: rotate(180deg) scale(1);
     }
     .toggle input:checked + div div {
       transform: rotate(90deg);
     }
     .toggle input:checked + div div span:before,
     .toggle input:checked + div div span:after {
       background: #fff;
     }
     .toggle input:checked + div div span:first-child:before {
       transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
     }
     .toggle input:checked + div div span:first-child:after {
       transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
     }
     .toggle input:checked + div div span:last-child:before {
       transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
     }
     .toggle input:checked + div div span:last-child:after {
       transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
     }
     .toggle input:checked + div svg {
       stroke-dashoffset: 62;
       stroke-dasharray: 0 82.801 62 82.801;
       transform: rotate(90deg);
       stroke: #fff;
     }
     .toggle input:checked + div svg:nth-child(3) {
       transform: rotate(270deg);
     }
   
     html {
       box-sizing: border-box;
       -webkit-font-smoothing: antialiased;
     }
   
     * {
       box-sizing: inherit;
     }
     *:before,
     *:after {
       box-sizing: inherit;
     }
   
     body .dribbble {
       position: fixed;
       display: block;
       right: 24px;
       bottom: 24px;
     }
     body .dribbble img {
       display: block;
       width: 76px;
     }
     
     textarea{
       margin: 5% 2%;
     }
     .button{
       margin-left: 6%;
     }
   }

   
   
   /* MEDIA FOR EXCEPT MOBILE */
    @media (min-width: 500px) {
     .header h1 {
       font-size: 10vh;
     }
   .collapse{
     visibility: hidden;
   }
     /* Hamburger CSS */
     .toggle {
       visibility: hidden;
       position: absolute;
       z-index: 120;
     }
     .dribbble {
       visibility: hidden;
       position: absolute;
     }
   
     /* NAV CSS */
     nav {
       position: absolute;
       z-index: 5;
       width: 100%;
       visibility: visible;
       margin-bottom: 20%;
     }
     ul {
       padding: 2%;
     }
     li {
       font-size: 1vw;
       display: inline;
       padding: 1%;
       margin-left: 4.1%;
     }
     a {
       font-family: "Overpass", sans-serif;
   
       text-decoration: none;
       color: white;
     }
     .hover-underline-animation {
       display: inline-block;
       position: relative;
       color: white;
     }
   
     .hover-underline-animation:after {
       content: "";
       position: absolute;
       width: 100%;
       transform: scaleX(0);
       height: 2px;
       bottom: 0;
       left: 0;
       background-color: #ffcb9a;
       transform-origin: bottom right;
       transition: transform 0.25s ease-out;
     }
     .hover-underline-animation:hover {
       color: #ffcb9a;
     }
     .hover-underline-animation:hover:after {
       transform: scaleX(1);
       transform-origin: bottom left;
     }
   
     .section {
       padding: 2% 0%;
     }
     .events {
       margin: 0%;
       padding: 0%;
     }
     .content {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       flex-wrap: wrap;
       padding-top: 10%;
     }
   
     .to_be_logo {
       width: 40%;
       margin: 0%;
       padding: 0%;
     }
   
     .info {
       width: 50%;
       margin: 0%;
       padding: 0%;
     }
   
     .info h3 {
       padding: 0% 0% 2%;
       font-size: 6vh;
     }
     p {
       font-size: 2vh;
       text-align: center;
     }
     form input{
       text-align: left;
       padding: 0%;
       margin: 0%;
     }
     form{
       margin: 0%;
       padding: 0%;
      text-align: center;
     }
     input{
       box-shadow: none;
       outline: none;
       border: none;
       background-color: #242424;
       height: 4vh;
       width: 14vw;
       color: white;
       text-align: left;
       
     }
     .form{
       padding:0%;
       margin: 0%;
     }
     form textarea{
       margin: 2%;
       box-shadow: none;
       outline: none;
       border: none;
       background-color: #242424;
       resize: none;
       transition: ease-in-out , 0.3s;
       border-bottom: 2px solid black;
       color: white;
       font-family: sans-serif;
       padding: 1%;
     }
     form textarea:focus{
      outline: none;
      border-bottom: 2px solid white;
    }
    form input:focus{
      transform: translateY(-4px);

    }
     h1{
       padding:0%;
       margin: 0%;
       padding-top: 9%;
       font-size: 4vh;
     }
     h3{
       padding: 0%;
       margin: 0%;
       margin-top: 4%;
     }

     .flex_container{
       display: flex;
       justify-content: center;
       gap: 1%;
       margin: 2%;
     }
     .button{
       display: block;
       padding: 0%;
       font-family: 'Overpass' , sans-serif;
       margin-left: auto;
       margin-right: auto;
     }
     form input{
       padding-left: 3%;
     }

     
   }
   